<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/blog_nav'%>
    
    <main role="main" class="container">
      <h1>Blogs</h1>
      <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
      <hr>
      <div class="row">
        <%= yield %>
        <%= render "sidebar"%>
      </div>
    </main>

    <%= render 'shared/blog_footer' %>

  </body>
</html>
